[submodule "submodules/latent-diffusion"]
	path = submodules/latent-diffusion
	url = https://github.com/CompVis/latent-diffusion.git
[submodule "submodules/taming-transformers"]
	path = submodules/taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
	branch = master
[submodule "submodules/CLIP"]
	path = submodules/CLIP
	url = https://github.com/openai/CLIP.git
[submodule "submodules/se3"]
	path = submodules/se3
	url = https://github.com/ccorcos/se3.git
[submodule "submodules/pytransform3d"]
	path = submodules/pytransform3d
	url = https://github.com/dfki-ric/pytransform3d.git
